body{
  padding:0;
  margin:20px;
  color:#333;
  font-family:arial, helvetica, sans-serif;
  font-size:80%;
  background:#fff;
  text-align:left;
}

img {
  border:none;
}

#body-container {
  margin:0 auto;
  min-width:1000px;
}

#header {
  height: 140px;
  margin: 0;
  text-align:center;
}

#main-navigation {
  clear: both;
  z-index: 1;
  width: 100%;
  float: left;
  height: 2em;
  margin: 0 0 10px 0;
  padding: 0;
  background-color: #f2f2f2;
  border-bottom: 1px solid #ccc; 
  border-top: 1px solid #ccc; 
}

#main-navigation ul {
  height: 2em;
  margin: 0;
}
#main-navigation li {
	float: left; 
        height: 2em;
	list-style: none;
	margin: 0 5px 0 0;
}

#main-navigation li a {
  background: #999999;
  padding: 5px 10px 5px 10px;
	display: block;
	text-decoration: none;
	font-weight: bold;
	color: #ffffff;
	border-right: 1px solid #ccc; 
	padding: 5px 10px 5px 10px;
}

#main-navigation li.login a {
  background:#000099;
}

#main-navigation li a:hover { background-color: #000033; }

#topnav {
	width: 100%;
	float: left;
       height: 2em;
	margin: 0 0 10px 0;
	padding: 0;
	background-color: #f2f2f2;
	border-bottom: 1px solid #ccc; 
	border-top: 1px solid #ccc; 
}

#topnav ul {
       height: 2em;
	margin: 0;
}

#topnav li {
	float: left; 
       height: 2em;
	list-style: none;
	margin: 0;
}

#topnav li a {
	display: block;
	text-decoration: none;
	font-weight: bold;
	color: #960325;
	border-right: 1px solid #ccc; 
	padding: 5px 10px 5px 10px;
}

#topnav li a:hover {
	color: #c00;
}

#footer {
  border-top:1px solid #333;
  clear:both;
  margin-top:10px;
  padding-top:10px;
  text-align:center;
}

.linebreak {
  clear:both;
}

/* table formatting */

table {
  border:none;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1em;
  margin: 0 0 10px 0;
  padding: 0;
}

.centered {
  margin-left: auto;
  margin-right: auto;
}

.jr1 {
  width: 100%;
}

.top5 {
  width: 75%;
}

.px200 {
  width: 200px;
}

th {
  border: 1px #666666 solid;
  text-align:center;
  color:#960325;
  vertical-align:middle;
}

td {
  border:none;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1em;
  padding: 3px;
}

.data {
  text-align: right;  
  vertical-align:top;
}

.dataRow1 {
  background-color: #f2f2f2;
} 

.dataRow2 { 
  background-color: #ffffff;
} 

.section {
  margin: .83em 0;
  font-size: 1.17em;
  font-weight:bold;
  text-align: left;  
  vertical-align:top;
} 

.notice {
  font-weight:bold;
  font-size: 1.5em;
  padding: 10px;
  text-align:center;
}


caption {
  font-weight:bold;
  padding: 10px;
}

/* form elements */
#form-container {
  background: #99ccff;
  /* border: 1px #666666 solid; */
  border-top:none;
  height: 150px;
  margin: 0 0 10px 0;
  padding:5px 10px 10px 10px;
}

fieldset {
  border:none;
  float:left;
}

label{
  font-weight:bold;
}

textarea{
  height:100px;
  width:250px;
}
.wide {
  width:500px;
}
.input {
     border: 1px solid #006;
     background: #ffc;
}
.button {
     border: 1px solid #006;
     background: #e3e3e3;
}
.w40 {
  padding: 20px;
  width:30%;
}
.hidden {
  display: none;
}
.Num3 {
    width: 40px;
}

/* begin css tabs */

#tabnav { 							/* general settings */
text-align: left; 						/* set to left, right or center */
margin: 0; 					              /* set margins as desired */
font-size: 85%; 	                                   /* set font as desired */
font-weight: bold; 	                                   /* set font as desired */
border-bottom: 1px solid #666; 				/* set border COLOR as desired */
list-style-type: none;
padding: 0 10px 3px 10px; 				       /* THIRD number must change with respect to padding-top (X) below */
}

#tabnav li { 						       /* do not change */
  display: inline;
}

#tab1 li.tab1 a, 
#tab2 li.tab2 a, 
#tab3 li.tab3 a, 
#tab4 li.tab4 a, 
#tab5 li.tab5 a, 
#tab6 li.tab6 a 
{ 		                                          /* settings for selected tab link */
  background-color: #99ccff; 				/* set selected tab background color as desired */
  color: #000000; 						/* set selected tab link color as desired */
  position: relative;
  top: 1px;
  padding-top: 4px; 						/* must change with respect to padding (X) above and below */
}

#tabnav li a { 						/* settings for all tab links */
padding: 3px 4px; 						/* set padding (tab size) as desired; FIRST number must change with respect to padding-top (X) above */
border: 1px solid #666; 					/* set border COLOR as desired; usually matches border color specified in #tabnav */
background-color: #f2f2f2;
color: #960325; 						/* set unselected tab link color as desired */
margin-right: 0px; 						/* set additional spacing between tabs as desired */
text-decoration: none;
border-bottom: none;
}

tabnav a:hover { 						/* settings for hover effect */
  background: #fff; 						/* set desired hover color */
  color: #c00;
}

#tab1 li.tab1, 
#tab2 li.tab2, 
#tab3 li.tab3, 
#tab4 li.tab4, 
#tab5 li.tab5, 
#tab6 li.tab6 
{ 			                                   /* settings for selected tab */
  border-bottom: none; 				/* set border color to page background color */
  background-color: #99ccff; 					/* set background color to match above border color */
}

#booknav {
  width: 100%;
	float: left;
       height: 2em;
	margin: 0 0 10px 0;
	padding: 0;
	background-color: #f2f2f2;
      	border-top: 1px solid #ccc; 
}

#booknav ul {
       height: 2em;
	margin: 0;
}

#booknav li {
	float: left; 
       height: 2em;
	list-style: none;
	margin: 0;
}

#booknav li a {
  color: #000000;
  display: block;
  text-decoration: none;
  border-right: 1px solid #ccc; 
  padding: 5px;
}

#booknav li a:hover {
	background-color: #99ccff;
	color: #000000;
}

.current
{
  background-color: #99ccff;
  font-weight:bold;
}

.breadcrumb {
        list-style: none;
        overflow: hidden;
        font: 18px Bitter, "Trebuchet MS", Verdana, Helvetica, sans-serif;
}

.breadcrumb li a {
        color: blue;
        text-decoration: none;
        padding: 0px 10px 0px 10px;
        position: relative;
        display: block;
        float: left;
}

.breadcrumb li {
    float: left;
    display: inline;
}

.breadcrumb li+li:before {
    color: black;
    content:"> ";
}
.URLtext {
    width: 300px;
}
.Mintext {
    width: 20px;
}
.ing_fail {
  color:orange;
}
.ing_succ {
  color:green;
}
.ing_dele {
  color:red;
}

